<table class="table-condensed">
	<tbody>
		<f:for each="{providers}" as="provider">
			<tr>
				<td>
					<a href="{provider.url}" target="_blank">
						<img src="{provider.image.originalResource.publicUrl}" />
					</a>
				</td>
				<td>
					<span>
						<a href="{provider.url}" target="_blank">
							{provider.title}
						</a>
					</span>
				</td>
			</tr>
		</f:for>
	</tbody>
</table>
